## Upgrade pip to install scipy
# pip install --upgrade pip

numpy
scipy  # need pip 9
scikit-learn
matplotlib
# pylab  # can not find

nltk

jupyter


## NLTK
# sudo pip install -U nltk
# import nltk
# nltk.download()
